In [5]:
import numpy as np
import pandas as pd
from statsmodels.tsa.vector_ar.vecm import coint_johansen

In [7]:
df = pd.read_excel('output_clean.xlsx')
print(df.shape)  # (123, 8)
df.tail()

(67, 5)

    Unnamed: 0        date  rate_rus   dollar  rate_us
62          62  2023-03-01       7.5  74.8932    4.625
63          63  2023-04-01       7.5  77.3233    4.875
64          64  2023-05-01       7.5  80.5093    4.875
65          65  2023-06-01       7.5  80.9942    5.125
66          66  2023-07-01       8.5  88.3844    5.125

In [9]:
df = df.drop('Unnamed: 0', axis = 1)
df = df.drop('date', axis = 1)
df.head()

   rate_rus   dollar  rate_us
0      7.75  57.6002    1.375
1      7.50  56.1840    1.375
2      7.25  56.3742    1.375
3      7.25  57.2649    1.625
4      7.25  61.9997    1.625

In [13]:
# Perform the Johansen Cointegration Test with a specified number of zero
specified_number = 0  # Testing for zero cointegrating relationships
coint_test_result = coint_johansen(df, specified_number, 1)

# Extract the trace statistics and eigen statistics
trace_stats = coint_test_result.lr1
eigen_stats = coint_test_result.lr2

# Print the test results
print("Johansen Cointegration Test Results (Testing for Zero Cointegrating Relationships):")
print(f"Trace Statistics: {coint_test_result.lr1}")
print(f"Critical Values: {coint_test_result.cvt}")

# Define stock pairs
stock_pairs = [('dollar', 'rate_rus'), ('rate_us', 'dollar'), ('rate_rus', 'rate_us')]

# Separate the output sections
print("\n" + "-" * 50 + "\n")

# Interpret the results for each pair
for i, (stock1, stock2) in enumerate(stock_pairs):
    trace_statistic = trace_stats[i]
    eigen_statistic = eigen_stats[i]
    print(f"Pair {i + 1} ({stock1} and {stock2}):")
    print(f"Trace Statistic: {trace_statistic}")
    print(f"Eigen Statistic: {eigen_statistic}")
    print("\n" + "-" * 50 + "\n")

# Determine cointegration based on critical values or other criteria
# Add your cointegration assessment logic here
print("Cointegration Assessment: Testing for Zero Cointegrating Relationships (Null Hypothesis)\n")

Johansen Cointegration Test Results (Testing for Zero Cointegrating Relationships):
Trace Statistics: [33.85967832  8.71195713  0.14744951]
Critical Values: [[27.0669 29.7961 35.4628]
 [13.4294 15.4943 19.9349]
 [ 2.7055  3.8415  6.6349]]

--------------------------------------------------

Pair 1 (dollar and rate_rus):
Trace Statistic: 33.85967832181081
Eigen Statistic: 25.147721186842233

--------------------------------------------------

Pair 2 (rate_us and dollar):
Trace Statistic: 8.711957134968575
Eigen Statistic: 8.564507627099342

--------------------------------------------------

Pair 3 (rate_rus and rate_us):
Trace Statistic: 0.14744950786923097
Eigen Statistic: 0.14744950786923097

--------------------------------------------------

Cointegration Assessment: Testing for Zero Cointegrating Relationships (Null Hypothesis)

In [23]:

coint_test_result = coint_johansen(df, det_order=1, k_ar_diff=1)

# Extract the eigenvalues and critical values
tracevalues = coint_test_result.lr1
critical_values = coint_test_result.cvt

# Interpret the results for each pair
for i, (stock1, stock2) in enumerate(stock_pairs):
    if (tracevalues[i] > critical_values[:, 1]).all():
        print(f"Pair {i + 1} ({stock1} and {stock2}) is cointegrated.")
    else:
        print(f"Pair {i + 1} ({stock1} and {stock2}) is not cointegrated.")

Pair 1 (dollar and rate_rus) is cointegrated.
Pair 2 (rate_us and dollar) is not cointegrated.
Pair 3 (rate_rus and rate_us) is not cointegrated.